*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header {
    width: 100%;
    height: 100vh;
    background: black;
    padding: 25px 20px;
}
#header h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    color: aliceblue;
    text-shadow: 2px -1px 10px rgba(230,230,230,0.6);
    margin: 20px 0;
}
.image{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid white;
}
#car{
    margin: 15px 10px;
    box-shadow: 5px 5px 10px black;
}
#contact{
    margin: 15px 10px;
    box-shadow: 5px 5px 10px black ;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex img{
    margin: 21px 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid black;
}
.card-body{
    text-align: center;
    margin: 10px 0;
}
#number{
    font-weight: bold;
    margin: 10px 0;
}
#btn{
    margin-top: 15px;
}

#form{
    margin: 25px 10px 25px 10px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px white ;
    width: 100%;
    min-height: 100px;
    color: white;
    padding: 25px 8px;
}
#form h2{
    color: aliceblue;
    text-align: center;
    margin: 10px 0;
}
form input{
    width: 80%;
    margin: 10px 0;
}
form label{
    padding-left: 28%;
}
form select{
    margin-top: 5px;
}

form button{
    margin: 10px 0;
}

#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    text-align: center;
    width: 100%;
    height: 100px;
}